<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>Login page</h1></center>
    <center>
        <form method="post">
            {% csrf_token %}
            <input type="text" placeholder="Enter email" required name="email"><br>
            <input type="text" placeholder="Enter password" required name="password"><br>
            <button>Login</button>
        </form>
    </center>
</body>
</html>